* {
  margin: 0px;
}

.soboj {
  width: 500px;
  height: 300px;
  background-color: green;
  margin: 50px auto;
  overflow: hidden;
}

.lal {
  width: 250px;
  height: 250px;
  background-color: red;
  border-radius: 50%;
  margin: 24px auto;
}

.german {
  width: 500px;
  height: 100px;
  background-color: red;
  margin: 50px auto;
  border-top: 100px solid #000;
  border-bottom: 100px solid yellow;
}

.argen {
  width: 500px;
  height: 100px;
  background-color: white;
  border-top: 100px solid skyblue;
  border-bottom: 100px solid skyblue;
  margin: 50px auto;
  text-align: center;
}

.argen img {
  width: 100px;
}

.canada {
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 50px auto;
  border-left: 150px solid red;
  border-right: 150px solid red;
  text-align: center;
  overflow: hidden;
}

.canada img {
  width: 200px;
  margin-top: 50px;
}

.white {
  width: 500px;
  height: 300px;
  background-color: white;
  margin: 50px auto;
  outline: 2px solid gray;
  overflow: hidden;
}

.lal {
  width: 250px;
  height: 250px;
  background-color: red;
  border-radius: 50%;
  margin: 24px auto;
}

.india {
  width: 500px;
  height: 100px;
  background-color: white;
  border-top: 100px solid orange;
  border-bottom: 100px solid green;
  margin: 50px auto;
  text-align: center;
}

.india img {
  width: 100px;
}

.indo {
  width: 500px;
  height: 150px;
  background-color:white;
  margin: 50px auto;
  border-top: 150px solid red;
  outline: 2px solid gray;
 
}


.viet {
  width: 500px;
  height: 300px;
  background-color: red;
  margin: 50px auto;
  text-align: center;
  overflow: hidden;
}

.viet img {
  width: 100px;
  margin-top: 120px;
}

.russia {
  width: 500px;
  height: 100px;
  background-color: blue;
  margin: 50px auto;
  border-top: 100px solid white;
  border-bottom: 100px solid red;
  outline: 2px solid gray;
}

.bulgeria {
  width: 500px;
  height: 100px;
  background-color: green;
  margin: 50px auto;
  border-top: 100px solid white;
  border-bottom: 100px solid red;
  outline: 2px solid gray;
}

.hungary {
  width: 500px;
  height: 100px;
  background-color: white;
  margin: 50px auto;
  border-top: 100px solid red;
  border-bottom: 100px solid green;
  
}

.france {
  width: 150px;
  height: 300px;
  background-color: white;
  margin: 50px auto;
  border-left: 150px solid blue;
  border-right: 150px solid red;
  
}
.ireland {
  width: 150px;
  height: 300px;
  background-color: white;
  margin: 50px auto;
  border-left: 150px solid green;
  border-right: 150px solid orange;
  
}

.belgium {
  width: 150px;
  height: 300px;
  background-color:yellow;
  margin: 50px auto;
  border-left: 150px solid black;
  border-right: 150px solid red;
  
}

.italy {
  width: 150px;
  height: 300px;
  background-color:white;
  margin: 50px auto;
  border-left: 150px solid green;
  border-right: 150px solid red;
  
}
